.wrapper_backdrops {
    margin-bottom: 20px;
    position: relative;

}

.size_backdrops {
    width: 100%;
    height: 100%;
    /*object-fit: cover;*/
}

.skeleton {
    background-color: #D3D3D3;
    height: 100vh;
    width: 100vw;
}

.title {
    position: absolute;
    top: 50%;
    left: 10%;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 30px;
    font-size: 30px;
    font-weight: bold;
}

.span {
    font-weight: normal;
}

.input_backdrops {
    border-radius: 50px;
    border: none;
    height: 45px;
    padding-left: 30px;
    outline: none;
    width: 300px;
}

.button_backdrops {
    height: 45px;
    width: 100px;
    border-radius: 50px;
    background-color: var(--primary-color);
    color: white;
    border: none;
    margin-left: 10px;
}

.button_backdrops:hover {
    background-color: var(--selected-color);
}

.search {
    display: flex;
}