
.wrapper {
    display: flex;
    padding-left: 40px;
    flex-direction: column;
}

.wrapper_now_playing {
    display: flex;
    gap: 10px;
    overflow-x: auto;
}

.title {
    position: absolute;
    top: 80%;
    left: 40%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 30px;
}

.header {
    margin-bottom: 10px;
}