.wrapper {
    display: flex;
    flex-direction: column;
}

.container_movies {
    max-width: 1425px;
    margin-left: auto;
    margin-right: auto;
}

.description {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

