.wrapper {
    display: flex;
    gap: 20px;
    padding: 0 40px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}


.empty {
    padding: 40px;
}

.title {
    padding: 20px 40px;
}

.image {
    width: 210px;
    border-radius: 15px;
}

.title_movie {
    font-weight: bold;
}