.wrapper {
    padding: 0 40px;
}

.wrapper_movie {
    display: flex;
    gap: 20px
}

.h2 {
    margin-bottom: 10px;
}

.title {
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.image {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

.cast {
    display: flex;
    gap: 20px;
    margin: 20px 0;
    justify-content: center;
}

.bold {
    font-weight: bold;
}