.button {
    height: 45px;
    width: 200px;
    border-radius: 50px;
    background-color: var(--primary-color);
    color: white;
    border: none;
    margin-left: 10px;
}

.button:hover {
    background-color: var(--selected-color);
}