.wrapper {
    display: flex;
    flex-direction: column;
    padding-left: 40px;
}

.wrapper_topRated {
    display: flex;
    gap: 10px;
    overflow-x: auto;
}

.img {
    position: relative;
}

.title {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
color: white;
}