.wrapper {
    padding: 10px 40px;
    position: relative;
}

.title {
    margin-bottom: 20px;
}

.title_movie {
    text-align: center;
    font-weight: bold;
    height: 48px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.wrapper_movies {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.size_movies {
    border-radius: 10px;
    width: 180px;
    height: 225px;
    object-fit: cover;
}

.button {
    position: absolute;
    width: 100px;
    height: 40px;
    border-radius: 20px;
    top: 8%;
    left: 91%;
    transform: translate(-50%, -50%);
    background-color: var(--primary-color);
    border: none;
    color: white;
}

.image {
    width: 180px;
    display: flex;
    flex-direction: column;
    position: relative;
    cursor: pointer;
}

.badge {
    position: absolute;
    padding: 5px 10px;
    border-radius: 20px;
    color: black;
    font-family: sans-serif;
    font-weight: bold;
    display: inline-block;
    top: 68%;
    left: 65%;
}

.favButton {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 2;
    background-color: rgba(255, 255, 255, 0.7);
    /*background: none;*/
    border: none;
    cursor: pointer;
    font-size: 18px;
    transition: transform 0.2s ease-in-out;
    padding: 5px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.favButton:hover {
    background-color: #f0f0f0;
}

.favButton:active {
    transform: scale(0.9);
}

.favButton.active .heartIcon {
    animation: heartBeat 0.5s ease-in-out;
}

@keyframes heartBeat {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}