.wrapper_filter {
    display: flex;
    justify-content: center;
}

.filter {
    padding: 20px 20px;
    width: 300px;
    background-color: rgb(243, 244, 246);
    height: 700px;
    border-radius: 10px;
}

.title{
    margin-bottom: 20px;
}

.genre_button {
    background-color: var(--primary-color);
    color: white;
    border-radius: 20px;
    border: none;
    padding: 10px 20px;
}

.active {
    background-color: var(--selected-color);
}

.genre_button:hover {
    background-color: var(--selected-color);
}

.wrapper_genre_buttons {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
